body{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color:#8f8f8f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Sections */

.white-section {
  background-color: #fff;
}

.colored-section {
  color: #fff;
  background-color: #ef8172;
}
/* Headings */

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

#title {
  background-color: #ff4c68;
  padding-bottom: 7%;
  text-align: left;
}

.container-fluid{
  padding: 0.75% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 2rem 0 4.5rem;

}

.nav-item {
  padding-right: 2.1rem;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}
.navbar-brand {
  padding-left: 0;
  font-family: 'Ubuntu', sans-serif;
}

.download-button {
  margin: 5% 2%;
}

.title-image {
  position: absolute;
  width: 20%;
  right: 25%;
  transform: rotate(25deg);
}

@media (max-width: 992px) {
  .title-image {
    position: static;
    transform: rotate(0);
    width: 40%;
  }
  #title {
    text-align: center;
  }
}

/* Features */
#features {
  position: relative;
  padding:5% 15% 0;

}
.features-title {
  font-weight: 500;
  font-size: 1.5rem;
}
/* Icons */
.fea-icon {
  color: #ef8172;
  font-size: 3rem;
  padding: 10% 0  ;
}
.icon {
  display: inline-block;
  width: 100%;
}
.fea-icon:hover {
  color: #ff4c68;
}

/* Testimonials */

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 1rem;
}
.testimonial-name {
  font-family: "Ubuntu", sans-serif;
}
.testimonial-title {
  font-weight: 700;
  font-size: 2.5rem;
}

.carousel-inner {
  padding:5% 15%;
}

/* Press */
#press {
  padding: 0 0 3%;
}
.press-logo {
  width: 14%;
  margin: 1.25rem 1.25rem 2.25rem;
}

/* Pricing */
#pricing {
  padding-top: 6.25rem;
}

.pricing-card {
  padding: 6% 3% 4%;
}
.pricing-title {
  font-weight: 700;
  font-size: 2.5rem;
}
.price-dog {
  font-weight: 500;
  font-size: 1.5rem;
}

.price-text {
  font-weight: 700;
  font-size: 2.5rem;
}

.lower-button {
  position: relative;
  margin-top: 10.65%;

}

/* CTA */
#cta {
    background-color: #ff4c68;
    padding: 4% 5%;
}
/* footer */
.footer-container {
  font-size: 1.5rem;
}
.cta-container .big-heading {
  font-size: 3rem;
}
.footer-icons:hover {
  color: #ef8172
}
.copyright {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.7rem;
}

